*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header{
    height: 152.8px;
}
main{
    min-height: 75vh;
}
h2{
    border-left: 2px solid #fff;
}


.head-cart {
    display: flex;
    justify-content:left;
    background-color: #ae1a1a;
}
.head-cart h2 {
    color: white;
    padding: 45px;
    font-size: 50px; 
    cursor: pointer;
}
footer {
    background-color: #ae1a1a;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 14px;
}

.btn {
    background-color: #ae1a1a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
#cart-modal{
    position: sticky;
    top: 0;
}
#cart-pay {
    display: flex;
    justify-content: right;
    padding: 20px;
    margin-top: 45vh;
    gap : 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
}

#total{
    padding: 8px;
    font-size: larger;
}
#cart-emty {
    display: flex;
    align-content: center;
    text-align: center;
    height: 400px;
}
#cart-emty>h2, #cart-emty>p{
    margin: 20px 0;
}
.cart-item-mobile-left{
    display: flex;
    background-color: #fff;
}
.cart-item-mobile-info{
    padding-left: 10px;
    flex: 3;
    font-size: 14px;
}
.cart-item-mobile-info p:nth-child(2){
    padding: 10px 0;
}
.btn-remove{
    border: none;
    font-size: 16px;
    color: #ae1a1a;
    padding: 10px 15px;
    cursor: pointer;
    background:none;
    text-decoration: underline;
    
}
@media (max-width: 768px) {
    
    header{
        box-sizing: border-box;
        height: 104px;
    }
    
    .head-cart > img {
        width: 104px;
        height: 104px;
    }
    .head-cart h2 {
        color: white;
        padding: 26px;
        font-size: 46px;
        cursor: pointer;
    }
    #total{
        padding: 8px;
        font-size: large;
    }
}