*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header{
    height: 150px;
}

h2{
    border-left: 2px solid #fff;
}
.container{
    display: flex;  
}
.banner{
    flex: 2;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#register{
    display: none;
    flex: 1;
    justify-content: center;
    background-color: #fffbfb;
}
#login{
    flex: 1;
    justify-content: center;
    background-color: #fffbfb;
}
#login-modal{
    position: sticky;
    top: 0; 
    z-index: 10;
}
.login-cart {
    display: flex;
    justify-content:left;
    background-color: #ae1a1a;
}
.login-cart h2 {
    color: white;
    padding: 45px;
    font-size: 50px; 
    cursor: pointer;
}
footer {
    background-color: #ae1a1a;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
.register-form,.login-form{
    gap:20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 25px 30px;
    margin: 200px auto ;
    background-color: #fff;
    width: 65%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    opacity: 0.9;
    background: linear-gradient(to bottom right, #ffffff, #30c40e);
   
}
input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    margin-top: 10px;
    background-color: #ae1a1a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.more-option{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #0051ff;
    cursor: pointer;
}
.more-option a {
    color: #0051ff;
    text-decoration: none;
}
.register-option{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.register-option a {
    color: #ae1a1a;
    text-decoration: none;
    font-weight: bold;
}
#message {
    color: rgb(255, 85, 0);
    font-size: 16px;
    font-weight: bold;
}
#btn-login{
    color: red;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 ;
    border: none;
}
.my-title{
    color:red;
    font-size: 16px;
}
.my-popup{
    width: max-content;
    position: fixed;
    top: 20%;
    right: 2%;
    height: max-content;
    padding-bottom:12px;
}

@media (max-width: 768px) {
    main{
        min-height: 70vh;
    }
    .banner {
       display: none;
    }
    .register-form,.login-form {
        width: 90%;
        margin: 20px auto;
        border: none;
        background: #fff;
       
    }
    .my-popup{
        width: max-content;
        padding-bottom:12px;
        position: relative;
    }
}
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
    .banner {
        width: 100%;
        height: 300px;
        flex: none;
    }
    
    .register-form,.login-form {
        width: 90%;
        margin: 20px auto;
    }
}
