body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h2{
    border-left: 2px solid #fff;
}
main{
    min-height: 65vh;
    position: relative;
}

.head-cart {
    display: flex;
    justify-content:left;
    background-color: #ae1a1a;
}
.head-cart h2 {
    color: white;
    padding: 20px;
    font-size: 40px; 
    cursor: pointer;
}
footer {
    background-color: #ae1a1a;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    
}